*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

/* inline/inline-block  通过设置父元素的text-align:center */
/* banner开始 */
.banner{
    height: 80px;
    
    text-align: center;
    background:#ff2f7c;
}
/* .banner img{
    display: block;
    margin:0 auto;
} */


#headline{
    background: #f2f2f2;
    height: 40px;
    position: relative;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.30);
    
}
.wrapper{
    width: 1230px;
    height: 20px;
    /* background: #ff0000; */
    /* margin:0 auto; */
    margin: auto;  
    position: absolute;  
    top: 0; left: 0; bottom: 0; right: 0; 
}

/* .head-login{
    height: 40px;
    line-height: 40px;
    font-weight: 12px;

} */

.head-login span,.head-login a{
    color: #999999;
}
/* banner结束 */